
.row {
  display: flex;
  flex-direction: row;
}

.tile {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  border: 2px solid black;
}
